
#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: none;
    width: 80vw;
    height: 500px;
    margin: auto;

}

#userInput {
    border: 2px solid black;
    padding: 10px;
    
}

#shelf {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}

.card {
    background-color: orange;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    font-family: monospace;
    font-size: 16px;
}

.cardbtn {
    margin-right: 5px;
}

h1 {
    font-family: monospace;
    text-align: center;
}

