#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    margin: 30px 100px 30px 100px;
}

.card {
    background-color: orange;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    height: 250px;
    width: 0 auto;
    font-family: monospace;
    font-size: 16px;
}

.cardbtn {
    margin-right: 5px;
}

h1 {
    font-family: monospace;
}